$white : white;
$white2 : #FFFFFF;
$ghostwhite : #F8F8FF;
$babypower : #FEFEFA;
$snow : #FFFAFA;
$ivory : #FFFFF0;
$floral : #FFFAF0;
$seashell : #FFF5EE;

$gray: #eee;
$black: #181b26;

$bgdark: #232323;
$bgmed: #2b2928;
$bglight: #3a3735;

$redlight: #af624f;
$red: #9b3b23;
$reddark: #742c1a;

$yellowlight: #edb53d;
$yellow: #e9a30c;
$yellowdark: #af7a09;
$yellowdark: #261b03;

$bluelight: #329da0;
$blue: #267678;
$bluedark: #194f50;

$nocolor: rgba(0, 0, 0, 0);
$halftrans: rgba(0,0,0,.5);
